name: GitHub Actions - Workflow Dispatch Template
run-name: Running - ${{ github.event_name }}

on:
  workflow_dispatch:

jobs:
  job01:
    runs-on: ubuntu-latest
    steps:
      - name: Comentário
        run: echo "Comentário WORKFLOW DISPATCH - Básico"
